* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

/* Header aand Nav */
header {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    margin-top: 10px;
}

nav a {
    color: #f1f1f1;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

/* Main */

.introduction {
    padding: 40px 20px;
    background: white;
    margin: 20px 0;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.introduction h2 {
    margin-bottom: 15px;
    text-align: center;
}

/* Section toycharacters */

.container {
    padding: 40px 20px;
    background: white;
    margin: 20px 0;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.card div {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

img{
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.note{
    margin: 10px 0px 0px 0px;
}

/* Footer */
footer {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}